flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "API",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e1a40699ea85764e",
        "type": "tab",
        "label": "Light Controls",
        "disabled": false,
        "info": ""
    },
    {
        "id": "56ae43efe9a5b4d3",
        "type": "tab",
        "label": "Audio Controls",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4fcd3dd2df70f0c8",
        "type": "tab",
        "label": "System Controls",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1ef6a397c037ff41",
        "type": "tab",
        "label": "restnode",
        "disabled": true,
        "info": ""
    },
    {
        "id": "2beab0d8.f64dc",
        "type": "subflow",
        "name": "Light Quick Fade-On",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 140,
                "y": 60,
                "wires": [
                    {
                        "id": "c9f5b0f2.57521"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99",
        "status": {
            "x": 840,
            "y": 60,
            "wires": []
        }
    },
    {
        "id": "650a8f6f7f65f9de",
        "type": "subflow",
        "name": "Light Quick Fade-On (2)",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 140,
                "y": 60,
                "wires": [
                    {
                        "id": "8e2b8cf8fe6698eb"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99",
        "status": {
            "x": 840,
            "y": 60,
            "wires": [
                {
                    "id": "91c21372e5dc0457",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "b7f24f4584cfd7ab",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "in": [
            {
                "x": 60,
                "y": 180,
                "wires": [
                    {
                        "id": "437ad050babab08f"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 720,
                "y": 180,
                "wires": [
                    {
                        "id": "3f54b697c73637aa",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "3f2c5e5d.9118c2",
        "type": "ui_tab",
        "name": "REST Sleep Node",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9129e728.6627d8",
        "type": "ui_group",
        "name": "System Control",
        "tab": "3f2c5e5d.9118c2",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false
    },
    {
        "id": "9933a45d.b3b0e",
        "type": "ui_group",
        "name": "Nightlight",
        "tab": "3f2c5e5d.9118c2",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "91c4859.9f3e5f8",
        "type": "ui_group",
        "name": "WakeUp Light",
        "tab": "3f2c5e5d.9118c2",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "426403b1.4aa8dc",
        "type": "ui_group",
        "name": "Manual Control",
        "tab": "3f2c5e5d.9118c2",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "a81e9f61.3e719",
        "type": "ui_group",
        "name": "Audio Selection",
        "tab": "3f2c5e5d.9118c2",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "e3bb1fc6.01612",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#89a45b",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#89a45b",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#89a45b",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#acbf8c",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#89a45b",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "18c6c46d15594407",
        "type": "websocket-listener",
        "path": "/restnode",
        "wholemsg": "false"
    },
    {
        "id": "3bcabf98.3b81",
        "type": "link in",
        "z": "2beab0d8.f64dc",
        "name": "quickFadeOn",
        "links": [],
        "x": 90,
        "y": 140,
        "wires": [
            [
                "c9f5b0f2.57521"
            ]
        ],
        "l": true
    },
    {
        "id": "4fd7a6cd.192be8",
        "type": "delay",
        "z": "2beab0d8.f64dc",
        "name": "",
        "pauseType": "delay",
        "timeout": "40",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 870,
        "y": 100,
        "wires": [
            [
                "883559c4.769128"
            ]
        ]
    },
    {
        "id": "bf9ec4d.2f82938",
        "type": "change",
        "z": "2beab0d8.f64dc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "-127",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 100,
        "wires": [
            [
                "3096a8ec.3f6f78"
            ]
        ]
    },
    {
        "id": "883559c4.769128",
        "type": "function",
        "z": "2beab0d8.f64dc",
        "name": "Increment Brightness",
        "func": "const scale = (num, in_min, in_max, out_min, out_max) => {\n  return (num - in_min) * (out_max - out_min) / (in_max - in_min) + out_min;\n}\n\n// If at the max brightness, then terminate the sub-flow\nif (msg.payload >= 128) {\n    return;\n}\n    \n// Otherwise, increment the brightness\nmsg.payload += 1;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "cd1bd09d.e12dd",
        "type": "inject",
        "z": "2beab0d8.f64dc",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "-128",
        "payloadType": "num",
        "x": 290,
        "y": 160,
        "wires": [
            [
                "bf9ec4d.2f82938"
            ]
        ]
    },
    {
        "id": "3096a8ec.3f6f78",
        "type": "function",
        "z": "2beab0d8.f64dc",
        "name": "Enable/disable",
        "func": "// If the light is not off, then enable the control GPIO\nif (msg.payload != 0)\n    msg.payload = 1;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "c9f5b0f2.57521",
        "type": "delay",
        "z": "2beab0d8.f64dc",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "x": 280,
        "y": 100,
        "wires": [
            [
                "bf9ec4d.2f82938"
            ]
        ]
    },
    {
        "id": "ba1a941db48c4067",
        "type": "link in",
        "z": "650a8f6f7f65f9de",
        "name": "quickFadeOn",
        "links": [],
        "x": 90,
        "y": 140,
        "wires": [
            [
                "8e2b8cf8fe6698eb"
            ]
        ],
        "l": true
    },
    {
        "id": "f440b6f2e7d9e1cc",
        "type": "delay",
        "z": "650a8f6f7f65f9de",
        "name": "",
        "pauseType": "delay",
        "timeout": "40",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 870,
        "y": 100,
        "wires": [
            [
                "fab6c0545bb83fa7"
            ]
        ]
    },
    {
        "id": "91c21372e5dc0457",
        "type": "i2c out",
        "z": "650a8f6f7f65f9de",
        "name": "Set Brightness",
        "busno": "1",
        "address": "8",
        "command": "",
        "payload": "payload",
        "payloadType": "msg",
        "count": "1",
        "x": 700,
        "y": 100,
        "wires": [
            [
                "f440b6f2e7d9e1cc"
            ]
        ]
    },
    {
        "id": "13eef392766c7000",
        "type": "change",
        "z": "650a8f6f7f65f9de",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "-127",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 100,
        "wires": [
            [
                "5f5921f92b98783f",
                "91c21372e5dc0457"
            ]
        ]
    },
    {
        "id": "fab6c0545bb83fa7",
        "type": "function",
        "z": "650a8f6f7f65f9de",
        "name": "Increment Brightness",
        "func": "const scale = (num, in_min, in_max, out_min, out_max) => {\n  return (num - in_min) * (out_max - out_min) / (in_max - in_min) + out_min;\n}\n\n// If at the max brightness, then terminate the sub-flow\nif (msg.payload >= 128) {\n    return;\n}\n    \n// Otherwise, increment the brightness\nmsg.payload += 1;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 100,
        "wires": [
            [
                "91c21372e5dc0457"
            ]
        ]
    },
    {
        "id": "3664037d789b2491",
        "type": "inject",
        "z": "650a8f6f7f65f9de",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "-128",
        "payloadType": "num",
        "x": 290,
        "y": 160,
        "wires": [
            [
                "13eef392766c7000"
            ]
        ]
    },
    {
        "id": "5f5921f92b98783f",
        "type": "function",
        "z": "650a8f6f7f65f9de",
        "name": "Enable/disable",
        "func": "// If the light is not off, then enable the control GPIO\nif (msg.payload != 0)\n    msg.payload = 1;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 160,
        "wires": [
            [
                "ab861da4eb8ef389"
            ]
        ]
    },
    {
        "id": "ab861da4eb8ef389",
        "type": "pi-gpiod out",
        "z": "650a8f6f7f65f9de",
        "name": "NL Enable",
        "host": "172.17.0.1",
        "port": 8888,
        "pin": "22",
        "set": false,
        "level": "0",
        "out": "out",
        "sermin": "1000",
        "sermax": "2000",
        "freq": "800",
        "x": 850,
        "y": 160,
        "wires": []
    },
    {
        "id": "8e2b8cf8fe6698eb",
        "type": "delay",
        "z": "650a8f6f7f65f9de",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "x": 280,
        "y": 100,
        "wires": [
            [
                "13eef392766c7000"
            ]
        ]
    },
    {
        "id": "ef705d6bc0304762",
        "type": "ui_text_input",
        "z": "1ef6a397c037ff41",
        "name": "",
        "label": "Wake Time",
        "tooltip": "Set your wake-up time",
        "group": "9129e728.6627d8",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "time",
        "delay": "0",
        "topic": "",
        "topicType": "str",
        "x": 690,
        "y": 420,
        "wires": [
            [
                "6e36ebd0c5fc0d08"
            ]
        ]
    },
    {
        "id": "070c41b37d0cd57c",
        "type": "ui_slider",
        "z": "1ef6a397c037ff41",
        "d": true,
        "name": "",
        "label": "Fade Out (min)",
        "tooltip": "Time to fade completly out",
        "group": "9933a45d.b3b0e",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "topicType": "str",
        "min": 0,
        "max": "30",
        "step": 1,
        "x": 800,
        "y": 480,
        "wires": [
            [
                "6ae2664b8ae145d6"
            ]
        ]
    },
    {
        "id": "0e8150641fc48f02",
        "type": "ui_slider",
        "z": "1ef6a397c037ff41",
        "d": true,
        "name": "",
        "label": "Fade In (min)    ",
        "tooltip": "WakeUp Light Fade In",
        "group": "91c4859.9f3e5f8",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "topicType": "str",
        "min": 0,
        "max": "30",
        "step": 1,
        "x": 790,
        "y": 540,
        "wires": [
            [
                "cf873a5906edc227"
            ]
        ]
    },
    {
        "id": "f43371a946e6dd25",
        "type": "inject",
        "z": "1ef6a397c037ff41",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "Clock",
        "payloadType": "date",
        "x": 190,
        "y": 1000,
        "wires": [
            [
                "739eabe4c5da0c7c"
            ]
        ]
    },
    {
        "id": "31d6a19c8d7c4470",
        "type": "function",
        "z": "1ef6a397c037ff41",
        "name": "set_waketime",
        "func": "const zeroPad = (num, places) => String(num).padStart(places, '0');\nconst twoDigitPad = (num) => zeroPad(num, 2);\nconst formatHHMM = (hours ,minutes) => `${twoDigitPad(hours)}:${twoDigitPad(minutes)}`;\nconst toMilliseconds = (minutes) => {\n    // Convert minutes to milliseconds\n  return minutes * 60000; // 60,000 millisec in a minute\n}\nconst formatMillisecondsAsHHMM = (millisecondsSinceMidnight) => {\n    // Convert the tim einmilliseconds since midnight to an hour-minute-seconds string \n    let hoursSinceMidnight = Math.floor(millisecondsSinceMidnight / 3600000);\n    let minutesPastTheHour = Math.floor((millisecondsSinceMidnight - hoursSinceMidnight * 3600000) / 60000);\n    if (hoursSinceMidnight > 12)\n        hoursSinceMidnight -= 12;\n    return formatHHMM(hoursSinceMidnight, minutesPastTheHour);\n}\n\n// Calculate the times that each step in the wakeup sequence should execute\n\nlet wakeupOffsetMs = msg.payload;\n\nconst MinutesBeforeWakeTimeToStartFadingInWakeLight = 30;\nconst MinutesAfterWakeTimeToTurnOffWakeLight = 15;\n\nflow.set(\"wakeOffsetMs\", wakeupOffsetMs);\nflow.set(\"wakeLightStartFadeInOffsetMs\", wakeupOffsetMs - toMilliseconds(MinutesBeforeWakeTimeToStartFadingInWakeLight));\nflow.set(\"wakeLightTurnOffOffsetMs\", wakeupOffsetMs + toMilliseconds(MinutesAfterWakeTimeToTurnOffWakeLight));\n\nnode.log(\"Waketime: \" + formatMillisecondsAsHHMM(wakeupOffsetMs));\nnode.log(\"WakeLight Start FadeIn Time: \" + formatMillisecondsAsHHMM(flow.get(\"wakeLightStartFadeInOffsetMs\")));\nnode.log(\"WakeLight Off Time: \" + formatMillisecondsAsHHMM(flow.get(\"wakeLightTurnOffOffsetMs\")));\n\n// Convert the waketime into a Date object for a pretty node.status() message\nlet now = new Date();\nlet hoursSinceMidnight = Math.floor(wakeupOffsetMs / 3600000);\nlet minutesPastTheHour = Math.floor((wakeupOffsetMs - hoursSinceMidnight * 3600000) / 60000);\nlet secondsPastTheHour = Math.floor((wakeupOffsetMs / 1000) % 60);\nlet wakeTime = new Date(now.setHours(hoursSinceMidnight,minutesPastTheHour,secondsPastTheHour,0));\nwakeTime.setHours(hoursSinceMidnight,minutesPastTheHour,secondsPastTheHour,0);\nnode.status({text:wakeTime.toLocaleTimeString()});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 420,
        "wires": [
            [
                "024a8df67441abe8",
                "499348cb3f4e5816"
            ]
        ]
    },
    {
        "id": "739eabe4c5da0c7c",
        "type": "function",
        "z": "1ef6a397c037ff41",
        "name": "mainTimerControl",
        "func": "const zeroPad = (num, places) => String(num).padStart(places, '0');\nconst twoDigitPad = (num) => zeroPad(num, 2);\nconst formatHHMMSS = (hours ,minutes, seconds) => `${twoDigitPad(hours)}:${twoDigitPad(minutes)}:${twoDigitPad(seconds)}`;\nconst toMilliseconds = (minutes) => {\n    // Convert minutes to milliseconds\n  return minutes * 60000; // 60,000 millisec in a minute\n}\nlet status = flow.get('status');\nnode.log(`status ${status}`);\n\n// Since this node is triggered once a second, determine if\n// this is the first tick/run after the user clicked the \"START\" button\n// (this allows for other nodes to do their action ONCE after being\n// started, like playing audio. Without this flag, the audio player\n// would be invoked multiple times and play overlapping audio)\n//\n// Valid \"status\" values are\n//  - stopped - NODE is \"off\"\n//  - starting - User just clicked the \"START\" button and this is the first tick/run\n//  - started - This is the second or later tick/run after the user clicked the \"START\" button\nlet isFirstTickAfterStarting = false;\nif (status == \"starting\") {\n    isFirstTickAfterStarting = true;\n    flow.set(\"isFirstTickAfterStarting\", true); // Temporarily set this \"flag\" to inform other nodes\n    flow.set(\"status\", \"started\") ;\n} else if (status == \"started\") {\n    // If this is not the first tick/run after being started, then clear the flag\n    // so other nodes won't run their \"first tick\" action anymore\n    flow.set(\"isFirstTickAfterStarting\");\n}\n\n// Get the current time, in milliseconds since midnight\nlet now = new Date();\nnow = now.getTime() - now.setHours(0,0,0,0);\n\n// Convert the current time to a string so it can be displayed in the flow\nlet hoursSinceMidnight = Math.floor(now / 3600000);\nlet minutesPastTheHour = Math.floor((now - hoursSinceMidnight * 3600000) / 60000);\nlet secondsPastTheHour = Math.floor((now / 1000) % 60);\nif (hoursSinceMidnight > 12)\n    hoursSinceMidnight -= 12;\nlet hoursMinutesSecondsSinceMidnight = formatHHMMSS(hoursSinceMidnight, minutesPastTheHour, secondsPastTheHour);\n\n// Only do this if the system is running\nif(status === \"stopped\") {\n    node.status({ fill:'red', text:`${hoursMinutesSecondsSinceMidnight} ${flow.get(\"status\")}` });\n    return msg;\n}\n\n// System is \"running\", so show green fill\nnode.status({ fill:'green', text:`${hoursMinutesSecondsSinceMidnight} ${flow.get(\"status\")}`});\n\n\n// First: Handle wake-up seqence below\n\nlet wakeOffsetMs = flow.get(\"wakeOffsetMs\");\nlet wakeLightStartFadeInOffsetMs = flow.get(\"wakeLightStartFadeInOffsetMs\");\nlet wakeLightTurnOffOffsetMs = flow.get(\"wakeLightTurnOffOffsetMs\");\nlet maxPwmDutyCycle = flow.get(\"pwm_wu_max\");\n\n// Is it time to start the wake light fade-on sequence?\n// (just check if we're +/- 1 sec of the wake light fade-on time, since this function is only called once a sec)// OR\n// If the current time is past when the wake light should have\n// started to fade-on AND the current time is not yet past the time at which the light should turn fully on\n// (this allows for the NODE to be started within the wake light's\n// fade-on period and have the light jump to fading on, useful for testing)\nif ((Math.abs(now - wakeLightStartFadeInOffsetMs) < 500) || \n    ((now > wakeLightStartFadeInOffsetMs) && (now < wakeOffsetMs))) {\n    // Then it's time to fade in the wakeup light\n    // (convert the time remaining to a PWM duty cycle percentage)\n    let pwm_wu = Math.ceil(100 * ((now - wakeLightStartFadeInOffsetMs)/(wakeOffsetMs - wakeLightStartFadeInOffsetMs)));\n    pwm_wu = Math.min(pwm_wu, maxPwmDutyCycle);\n    node.log(\"1 pwm_wu \" + pwm_wu);\n    flow.set('pwm_wu', pwm_wu);\n}\n\n// Is it time to wake up and keep the wake light 100% on for a period of time after?\nif ((now >= wakeOffsetMs) && (now < wakeLightTurnOffOffsetMs)) {\n    // Yes, time to wake up and fully turn on the wakeup light\n    let pwm_wu = maxPwmDutyCycle;\n    node.log(\"2 pwm_wu \" + pwm_wu);\n    flow.set('pwm_wu', pwm_wu);\n}\n\n// If the current time is past MinutesAfterWakeTimeToTurnOffWakeLight, then turn off the wake light\n// (just check if we're +/- 1 sec of the wake light turn off time, since this function is only called once a sec)\nif (Math.abs(now - wakeLightTurnOffOffsetMs) < 500) {\n    // Then it's time to turn off the wakeup light\n    let pwm_wu = 0;\n    node.log(\"3 pwm_wu \" + pwm_wu);\n    flow.set('pwm_wu', pwm_wu);\n}\n\n// Second: Handle sleep/bedtime sequence below\n\nlet bedOffsetMs = flow.get(\"bedOffsetMs\");\nlet nightlightOnOffsetMs = flow.get(\"nightlightOnOffsetMs\");\nlet nightlightStartFadeOutOffsetMs = flow.get(\"nightlightStartFadeOutOffsetMs\");\n\n// Is it time to start fading-off the nightlight?\nif ((now < bedOffsetMs) && (now > nightlightStartFadeOutOffsetMs)) {\n    let pwm_nl = Math.floor(100 - (100.0 * ((now - nightlightStartFadeOutOffsetMs)/(bedOffsetMs - nightlightStartFadeOutOffsetMs))));\n    node.log(\"pwm_nl: \" + pwm_nl);\n    flow.set('pwm_nl', pwm_nl);\n}\n\n// Time to turn on the night light?\n// Either at the correct starting time OR\n// the current time is past the \"nightlight on time\" AND the current time isn't yet to the \"nightlight starting fading off\" time\nif ((Math.abs(now - nightlightOnOffsetMs) < 500) || \n    (now > nightlightOnOffsetMs && now < nightlightStartFadeOutOffsetMs)) {\n    // Yes, activate the sleep sequence and turn on the night light (100% duty cycle)\n    let pwm_nl = 100;\n    node.log(\"pwm_nl: \" + pwm_nl);\n    flow.set('pwm_nl', pwm_nl);\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "f6b41b29397f1411",
        "type": "ui_switch",
        "z": "1ef6a397c037ff41",
        "name": "",
        "label": "Nightlight",
        "tooltip": "",
        "group": "426403b1.4aa8dc",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "x": 360,
        "y": 760,
        "wires": [
            [
                "55cafd93338102f8"
            ]
        ]
    },
    {
        "id": "c4c52dda04f7824c",
        "type": "ui_switch",
        "z": "1ef6a397c037ff41",
        "name": "",
        "label": "Wake Up Light",
        "tooltip": "",
        "group": "426403b1.4aa8dc",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "x": 360,
        "y": 800,
        "wires": [
            [
                "5a95dce7f05fc842"
            ]
        ]
    },
    {
        "id": "55cafd93338102f8",
        "type": "function",
        "z": "1ef6a397c037ff41",
        "name": "turnOnOffNL",
        "func": "if (msg.payload) {\n    // Trigger night light's \"quick fade-on\"\n    flow.set('pwm_nl', 100);\n    return [ msg, null ];\n} else {\n    // Turning the night light off, so just turn it off without any fading\n    flow.set('pwm_nl', 0);\n    return [ null, msg ];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 760,
        "wires": [
            [
                "6b05f551c7c9ac4b"
            ],
            [
                "a56f72e0e55de909"
            ]
        ],
        "outputLabels": [
            "On",
            "Off"
        ]
    },
    {
        "id": "5a95dce7f05fc842",
        "type": "function",
        "z": "1ef6a397c037ff41",
        "name": "turnOnOffWU",
        "func": "// Map true/false to a brightness level (0% or 100%)\nif (msg.payload) {\n    flow.set('pwm_wu', flow.get(\"pwm_wu_max\"));\n} else {\n    flow.set('pwm_wu', 0);\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 800,
        "wires": [
            [
                "c91d644d7998eb37"
            ]
        ]
    },
    {
        "id": "fb730672fa535043",
        "type": "ui_button",
        "z": "1ef6a397c037ff41",
        "name": "start_stop",
        "group": "9129e728.6627d8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "{{msg.payload || \"Start\"}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 420,
        "y": 1080,
        "wires": [
            [
                "4b5971bcf78dab1d"
            ]
        ]
    },
    {
        "id": "6856b99b6a06286e",
        "type": "ui_switch",
        "z": "1ef6a397c037ff41",
        "d": true,
        "name": "start_now",
        "label": "Start Bedtime Now",
        "tooltip": "Start your sleep sequence right now or later at specific time",
        "group": "9129e728.6627d8",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "start_now",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "x": 820,
        "y": 180,
        "wires": [
            [
                "aab32195b5c875f0"
            ]
        ]
    },
    {
        "id": "3defea4f02560d70",
        "type": "ui_switch",
        "z": "1ef6a397c037ff41",
        "d": true,
        "name": "play_audio",
        "label": "Play Audio Tracks",
        "tooltip": "Relaxing sounds to sleep better",
        "group": "9129e728.6627d8",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "play_audio",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 610,
        "y": 240,
        "wires": [
            [
                "aab32195b5c875f0"
            ]
        ]
    },
    {
        "id": "aab32195b5c875f0",
        "type": "function",
        "z": "1ef6a397c037ff41",
        "name": "setSystemSettings",
        "func": "var settings = flow.get('settings') || {};\nsettings[msg.topic] = msg.payload; // Sets 'settings.start_now' to true/false\nflow.set('settings', settings);\n\nlet now = new Date();\nlet msSinceMidnight = now.getTime() - now.setHours(0,0,0,0);\n\nflow.set('bedOffsetMs', msSinceMidnight);\n\n// For debugging\nlet hoursSinceMidnight = Math.floor(msSinceMidnight/(3600000 ));\nlet minutesPastTheHour = Math.floor((msSinceMidnight - hoursSinceMidnight * 3600000) / 60000);\nlet secondsPastTheHour = Math.floor((msSinceMidnight / 1000) % 60);\nlet hoursMinutesSecondsSinceMidnight = \n    `${hoursSinceMidnight}:${minutesPastTheHour}:${secondsPastTheHour}`;\nnode.status({text:hoursMinutesSecondsSinceMidnight});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "d7cc596bb84ca5b6",
        "type": "comment",
        "z": "1ef6a397c037ff41",
        "name": "ManualControlOfLights",
        "info": "Modifiying any of these controls will stop the current sequence.",
        "x": 160,
        "y": 640,
        "wires": []
    },
    {
        "id": "99516704112a1005",
        "type": "inject",
        "z": "1ef6a397c037ff41",
        "d": true,
        "name": "OnStartup",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.2",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 170,
        "y": 240,
        "wires": [
            [
                "3defea4f02560d70"
            ]
        ]
    },
    {
        "id": "0f55f04ee8f2d5aa",
        "type": "inject",
        "z": "1ef6a397c037ff41",
        "name": "OnStartup",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "InitialValues",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 140,
        "wires": [
            [
                "697b5069cc50821a"
            ]
        ]
    },
    {
        "id": "96e6514112588ba6",
        "type": "function",
        "z": "1ef6a397c037ff41",
        "name": "setInitialValues",
        "func": "node.log(\"Setting initial values\");\n\n//// Only overwrite settings that are missing\nif (!flow.get(\"nl_fadeout\"))\n    flow.set(\"nl_fadeout\", 45);\nif (!flow.get(\"wu_fadein\"))\n    flow.set(\"wu_fadein\", 30);\n// if (!flow.get(\"waketime\"))\n//     flow.set(\"waketime\", 0);\nif (!flow.get(\"sleep_hours\"))\n    flow.set(\"sleep_hours\", 8);\nif (!flow.get(\"sleep_minutes\"))\n    flow.set(\"sleep_minutes\", 0);\nif (!flow.get(\"pwm_wu_max\"))\n    flow.set(\"pwm_wu_max\", 75);\n    \nflow.set(\"pwm_wu\", 0);\nflow.set(\"pwm_nl\", 0);\nflow.set(\"status\", \"stopped\");\n\n//let projectDir = msg.payload.trim() + '/.node-red/';\nlet projectDir = msg.payload.trim() + '/yogasleepnode-master/';\nflow.set(\"projectDir\", projectDir);\n\nlet audioDir = projectDir + 'yogapod_audio/';\nflow.set(\"audioDir\", audioDir);\n\nlet defaultSettings = {\n    start_now: false,\n    isoAudioEnabled: false,\n    play_audio: true,\n    background_volume: 2,\n    background_noise: \"noSound\",\n    awakening_sound: \"noSound\",\n    awakening_volume: 2,\n    relax_technique: \"noSound\",\n    relax_volume: 5,\n};\n\nlet settings = flow.get(\"settings\") || defaultSettings;\n\n// Only overwrite settings that are missing\nif (!settings.background_volume)\n    settings.background_volume = defaultSettings.background_volume;\nif (!settings.awakening_volume)\n    settings.awakening_volume = defaultSettings.awakening_volume;\nif (!settings.background_noise)\n    settings.background_noise = defaultSettings.background_noise;\nif (!settings.awakening_sound)\n    settings.awakening_sound = defaultSettings.awakening_sound;\nif (!settings.relax_technique)\n    settings.relax_technique = defaultSettings.relax_technique;\nif (!settings.relax_volume)\n    settings.relax_volume = defaultSettings.relax_volume;\nif (!settings.play_audio)\n    settings.play_audio = true;\n    \nflow.set(\"settings\", settings);\n\nnode.status({fill:'green',text:\"All Set\"});\n\n// Set the start/stop button to START, since we're just starting up\nmsg.payload = \"Start\";\n    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 140,
        "wires": [
            [
                "93ef176a0405f4ae",
                "6856b99b6a06286e"
            ]
        ]
    },
    {
        "id": "4cce1b09597ba463",
        "type": "status",
        "z": "1ef6a397c037ff41",
        "name": "setInitStatus",
        "scope": [
            "96e6514112588ba6"
        ],
        "x": 330,
        "y": 500,
        "wires": [
            [
                "ef705d6bc0304762",
                "becc5bce5ae4bd82",
                "a5a9a4301ed1ef63",
                "73e3ea67164662ca",
                "5e8fa079e3ea1996"
            ]
        ]
    },
    {
        "id": "697b5069cc50821a",
        "type": "exec",
        "z": "1ef6a397c037ff41",
        "command": "echo ~",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "getHomeDir",
        "x": 350,
        "y": 140,
        "wires": [
            [
                "96e6514112588ba6",
                "3ccdd1e53a9427ff"
            ],
            [],
            []
        ]
    },
    {
        "id": "74fbd1afbfb6f57f",
        "type": "status",
        "z": "1ef6a397c037ff41",
        "name": "Start Bedtime Now",
        "scope": [
            "6856b99b6a06286e"
        ],
        "x": 170,
        "y": 400,
        "wires": [
            [
                "f797b5e9de1785f4"
            ]
        ]
    },
    {
        "id": "f797b5e9de1785f4",
        "type": "function",
        "z": "1ef6a397c037ff41",
        "name": "Enable/disable Bed Time",
        "func": "// If the \"Start Bedtime Now\" is ON/Enabled\n// then disable the \"Bed Time\" time input\nif(msg.status.text === 'on'){\n    msg[\"enabled\"] = false;\n}else{\n    msg[\"enabled\"] = true;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "3ccdd1e53a9427ff",
        "type": "debug",
        "z": "1ef6a397c037ff41",
        "d": true,
        "name": "HOME_DIR",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 200,
        "wires": []
    },
    {
        "id": "c07dacf13f72cf77",
        "type": "link in",
        "z": "1ef6a397c037ff41",
        "name": "",
        "links": [
            "bd0277ef.079188"
        ],
        "x": 695,
        "y": 460,
        "wires": [
            [
                "070c41b37d0cd57c"
            ]
        ]
    },
    {
        "id": "c6c81656bcf1aee9",
        "type": "link in",
        "z": "1ef6a397c037ff41",
        "name": "",
        "links": [
            "a0f9521a.06912"
        ],
        "x": 695,
        "y": 560,
        "wires": [
            [
                "0e8150641fc48f02"
            ]
        ]
    },
    {
        "id": "29c0264c47c44b03",
        "type": "inject",
        "z": "1ef6a397c037ff41",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 450,
        "y": 700,
        "wires": [
            [
                "b44f7ecfd1baf441",
                "c91d644d7998eb37"
            ]
        ]
    },
    {
        "id": "b44f7ecfd1baf441",
        "type": "function",
        "z": "1ef6a397c037ff41",
        "name": "Scale NL Bright to PWM",
        "func": "const scale = (num, in_min, in_max, out_min, out_max) => {\n  return (num - in_min) * (out_max - out_min) / (in_max - in_min) + out_min;\n}\n\nlet pwmDutyCycle = flow.get('pwm_nl');\nif (pwmDutyCycle > 100)\n    pwmDutyCycle = 100;\nif (pwmDutyCycle < 0)\n    pwmDutyCycle = 0;\n\n// If the nightlight is being turned on \n// (either manually or automatically), then\n// trigger the \"turn on\" subflow by sending a message\n// to the second output\nif ((msg.payload == 100) || (pwmDutyCycle == 100))\n    return [ null, msg ];\n\n// Otherwise, the nightlight is being faded-out, so pass along\n// the PWM value to the first output\nmsg.payload = Math.round(scale(pwmDutyCycle, 0, 100, 0, 255));\nnode.status(msg.payload);\n\n// If the nightlight is being turned off, then reset\n// the trigger/latch that protects the \"Fade-in\" sub-flow\n// so that the light can be turned on again\nif (pwmDutyCycle == 0) {\n    return [ msg, msg ]; // Send to both outputs to reset the trigger\n} else {\n    return [ msg, null ];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 680,
        "wires": [
            [
                "32344058d434dbec",
                "a56f72e0e55de909"
            ],
            [
                "6b05f551c7c9ac4b"
            ]
        ],
        "outputLabels": [
            "FadeOut",
            "QuickFadeOn"
        ]
    },
    {
        "id": "c91d644d7998eb37",
        "type": "function",
        "z": "1ef6a397c037ff41",
        "name": "Scale WL Bright to PWM",
        "func": "// Scale brightness percentage to a PWM duty cycle of 0-255\n\nconst scale = (num, in_min, in_max, out_min, out_max) => {\n  return (num - in_min) * (out_max - out_min) / (in_max - in_min) + out_min;\n}\n\nlet pwmDutyCycle = flow.get('pwm_wu');\nlet maxPwmDutyCycle = flow.get(\"pwm_wu_max\");\n\nif (pwmDutyCycle > maxPwmDutyCycle)\n    pwmDutyCycle = maxPwmDutyCycle;\nif (pwmDutyCycle < 0)\n    pwmDutyCycle = 0;\n\nmsg.payload = Math.round(scale(pwmDutyCycle, 0, 100, 0, 255));\n\nnode.status(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 780,
        "wires": [
            [
                "33448938b92fd540",
                "9c3c68a4b78fe17f"
            ]
        ]
    },
    {
        "id": "555feb6839c94591",
        "type": "inject",
        "z": "1ef6a397c037ff41",
        "name": "OnStartup",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.2",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 110,
        "y": 740,
        "wires": [
            [
                "f6b41b29397f1411",
                "c4c52dda04f7824c",
                "4b073bc2f9881729"
            ]
        ]
    },
    {
        "id": "93ef176a0405f4ae",
        "type": "link out",
        "z": "1ef6a397c037ff41",
        "name": "",
        "links": [
            "7580287265e63683"
        ],
        "x": 745,
        "y": 140,
        "wires": []
    },
    {
        "id": "a3bbcb3dfb265a8b",
        "type": "pi-gpiod out",
        "z": "1ef6a397c037ff41",
        "name": "NL Enable",
        "host": "172.17.0.1",
        "port": 8888,
        "pin": "22",
        "set": false,
        "level": "0",
        "out": "out",
        "sermin": "1000",
        "sermax": "2000",
        "freq": "800",
        "x": 1230,
        "y": 640,
        "wires": []
    },
    {
        "id": "bf4ed96d192dbcdd",
        "type": "pi-gpiod out",
        "z": "1ef6a397c037ff41",
        "name": "Wake Enable",
        "host": "172.17.0.1",
        "port": 8888,
        "pin": "27",
        "set": false,
        "level": "0",
        "out": "out",
        "sermin": "1000",
        "sermax": "2000",
        "freq": "800",
        "x": 1230,
        "y": 820,
        "wires": []
    },
    {
        "id": "a56f72e0e55de909",
        "type": "function",
        "z": "1ef6a397c037ff41",
        "name": "Enable/disable",
        "func": "// If the light is not off, then enable the control GPIO\nif (msg.payload != 0)\n    msg.payload = 1;\n    \nnode.status(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 640,
        "wires": [
            [
                "a3bbcb3dfb265a8b"
            ]
        ]
    },
    {
        "id": "fe5c2eb336819048",
        "type": "i2c out",
        "z": "1ef6a397c037ff41",
        "name": "Set Brightness",
        "busno": "1",
        "address": "8",
        "command": "",
        "payload": "payload",
        "payloadType": "msg",
        "count": "1",
        "x": 1400,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "33448938b92fd540",
        "type": "function",
        "z": "1ef6a397c037ff41",
        "name": "Enable/disable",
        "func": "// If the brightness is not off, then enable the control GPIO\n// so the panel can light up\nif (msg.payload != 0)\n    msg.payload = 1;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 820,
        "wires": [
            [
                "bf4ed96d192dbcdd"
            ]
        ]
    },
    {
        "id": "9c3c68a4b78fe17f",
        "type": "function",
        "z": "1ef6a397c037ff41",
        "name": "Enable/disable",
        "func": "if (msg.payload != 0)\n    return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 780,
        "wires": [
            [
                "c41d0f854d1e05b5"
            ]
        ]
    },
    {
        "id": "32344058d434dbec",
        "type": "function",
        "z": "1ef6a397c037ff41",
        "name": "Enable/disable",
        "func": "if (msg.payload != 0)\n    return msg;\nelse\n    return;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 740,
        "wires": [
            [
                "c41d0f854d1e05b5"
            ]
        ]
    },
    {
        "id": "c41d0f854d1e05b5",
        "type": "range",
        "z": "1ef6a397c037ff41",
        "minin": "0",
        "maxin": "255",
        "minout": "-128",
        "maxout": "127",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 1230,
        "y": 760,
        "wires": [
            [
                "fe5c2eb336819048"
            ]
        ]
    },
    {
        "id": "5b014783d9bec295",
        "type": "ui_text",
        "z": "1ef6a397c037ff41",
        "group": "9129e728.6627d8",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Calculated Bed Time",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1620,
        "y": 340,
        "wires": []
    },
    {
        "id": "642feed3c2f05fe2",
        "type": "ui_slider",
        "z": "1ef6a397c037ff41",
        "name": "",
        "label": "Hours of Sleep",
        "tooltip": "Select desired hours of sleep",
        "group": "9129e728.6627d8",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "sleep_hours",
        "topicType": "str",
        "min": 0,
        "max": "12",
        "step": 1,
        "x": 1060,
        "y": 280,
        "wires": [
            [
                "499348cb3f4e5816"
            ]
        ]
    },
    {
        "id": "b6fbdb6064efa9c1",
        "type": "ui_slider",
        "z": "1ef6a397c037ff41",
        "name": "",
        "label": "Minutes of Sleep",
        "tooltip": "Select desired minutes of sleep",
        "group": "9129e728.6627d8",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "sleep_minutes",
        "topicType": "str",
        "min": 0,
        "max": "55",
        "step": "5",
        "x": 1070,
        "y": 340,
        "wires": [
            [
                "499348cb3f4e5816"
            ]
        ]
    },
    {
        "id": "499348cb3f4e5816",
        "type": "function",
        "z": "1ef6a397c037ff41",
        "name": "calculateBedTime",
        "func": "const zeroPad = (num, places) => String(num).padStart(places, '0');\nconst twoDigitPad = (num) => zeroPad(num, 2);\nconst toMilliseconds = (minutes) => {\n    // Convert minutes to milliseconds\n  return minutes * 60000; // 60,000 millisec in a minute\n}\nconst formatHHMM = (hours ,minutes) => `${twoDigitPad(hours)}:${twoDigitPad(minutes)}`;\nconst formatMillisecondsAsHHMM = (millisecondsSinceMidnight) => {\n    // Convert the tim einmilliseconds since midnight to an hour-minute-seconds string \n    let hoursSinceMidnight = Math.floor(millisecondsSinceMidnight / 3600000);\n    let minutesPastTheHour = Math.floor((millisecondsSinceMidnight - hoursSinceMidnight * 3600000) / 60000);\n    if (hoursSinceMidnight > 12)\n        hoursSinceMidnight -= 12;\n    return formatHHMM(hoursSinceMidnight, minutesPastTheHour);\n}\nconst adjustIfTimeHasMovedIntoPreviousDay = (offsetInMs) => {\n    \n    const LengthOfDayInMs = 24 * 60 * 60 * 1000;\n    \n    // Add a full day so we can't return a negative time-offset value\n    offsetInMs += LengthOfDayInMs;\n    \n    // If the time-offset has increased into the next day, then subtract the added day\n    if (offsetInMs > LengthOfDayInMs)\n        offsetInMs -= LengthOfDayInMs;\n        \n    return offsetInMs;\n}\n\n\nif (msg.enabled == false)\n    // Do nothing and ignore msg\n    return;\n\n// Only save these two settings, since the other settings/inputs\n// are already being saved elsewhere\nswitch (msg.topic) {\n    case \"sleep_hours\":\n    case \"sleep_minutes\":\n        flow.set(msg.topic, msg.payload);\n        break;\n        \n    default:\n        // Do nothing for other settings/inputs\n        break;\n}\n\nlet sleepHours = flow.get(\"sleep_hours\");\nlet sleepMinutes = flow.get(\"sleep_minutes\");\nlet wakeOffsetMs = flow.get(\"wakeOffsetMs\");\n\n// If the wake time hasn't yet been set, then comsume the\n// message so that the \"Calculated Bed Time\" doesn't display \"Invalid Date\"\nif (!wakeOffsetMs) {\n    msg.payload = \"\";\n    return msg;\n}\n\n// Calculate the bedtime\nconst LengthOfDayInMs = 24 * 60 * 60 * 1000;\nlet bedTimeOffsetMs = LengthOfDayInMs; // Add a full day so we can't return a negative bedtime value\nbedTimeOffsetMs += wakeOffsetMs;\nbedTimeOffsetMs -= sleepHours * 60 * 60 * 1000;\nbedTimeOffsetMs -= sleepMinutes * 60 * 1000;\nif (bedTimeOffsetMs > LengthOfDayInMs) // If bedtime has increased into the next day, then subtract the added day\n    bedTimeOffsetMs -= LengthOfDayInMs;\n\n// Store the new sleep sequence times\n// These times define the start of all the parts of the sleep sequence\n// (ex. when to turn on the night light, when to play the background noise, \n// when to play the \"relaxation technique\" audio, when to turn off the nightlight, etc)\n\nconst MinutesBeforeBedTimeToTurnOnNightlight = 60;\nconst MinutesBeforeBedTimeToStartPlayingBackgroundNoise = 60;\nconst MinutesBeforeBedTimeToStartPlayingRelaxationTechnique = 30;\nconst MinutesBeforeBedTimeToStartFadingOutNightlight = 30;\n\nflow.set(\"bedOffsetMs\", bedTimeOffsetMs);\nflow.set(\"nightlightOnOffsetMs\", adjustIfTimeHasMovedIntoPreviousDay(bedTimeOffsetMs - toMilliseconds(MinutesBeforeBedTimeToTurnOnNightlight)));\nflow.set(\"backgroundNoiseStartOffsetMs\", adjustIfTimeHasMovedIntoPreviousDay(bedTimeOffsetMs - toMilliseconds(MinutesBeforeBedTimeToStartPlayingBackgroundNoise)));\nflow.set(\"relaxationTechniqueStartOffsetMs\", adjustIfTimeHasMovedIntoPreviousDay(bedTimeOffsetMs - toMilliseconds(MinutesBeforeBedTimeToStartPlayingRelaxationTechnique)));\nflow.set(\"nightlightStartFadeOutOffsetMs\", adjustIfTimeHasMovedIntoPreviousDay(bedTimeOffsetMs - toMilliseconds(MinutesBeforeBedTimeToStartFadingOutNightlight)));\n\n// Get the hours/minutes/seconds component of the calculated bedtime so it can be displayed\nlet hoursSinceMidnight = Math.floor(bedTimeOffsetMs/(3600000 ));\nlet minutesPastTheHour = Math.floor((bedTimeOffsetMs - hoursSinceMidnight * 3600000) / 60000);\nlet secondsPastTheHour = Math.floor((bedTimeOffsetMs / 1000) % 60);\n\n// Convert the bedtime into a Date object for the UI\nlet now = new Date();\nlet bedTime = new Date(now.setHours(hoursSinceMidnight,minutesPastTheHour,secondsPastTheHour,0));\nbedTime.setHours(hoursSinceMidnight,minutesPastTheHour,secondsPastTheHour,0);\nmsg.payload = bedTime.toLocaleTimeString();\n\nnode.log(\"Bedtime: \" + msg.payload);\nnode.log(\"Nightlight On Time: \" + formatMillisecondsAsHHMM(flow.get(\"nightlightOnOffsetMs\")));\nnode.log(\"Background Noise Start Time: \" + formatMillisecondsAsHHMM(flow.get(\"backgroundNoiseStartOffsetMs\")));\nnode.log(\"Relax Tech. Start Time: \" + formatMillisecondsAsHHMM(flow.get(\"relaxationTechniqueStartOffsetMs\")));\nnode.log(\"Nightlight Start Fade-out Time: \" + formatMillisecondsAsHHMM(flow.get(\"nightlightStartFadeOutOffsetMs\")));\nnode.status({text:msg.payload});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 340,
        "wires": [
            [
                "5b014783d9bec295"
            ]
        ]
    },
    {
        "id": "a5a9a4301ed1ef63",
        "type": "change",
        "z": "1ef6a397c037ff41",
        "name": "Get sleep_hours",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "sleep_hours",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 280,
        "wires": [
            [
                "642feed3c2f05fe2"
            ]
        ]
    },
    {
        "id": "becc5bce5ae4bd82",
        "type": "change",
        "z": "1ef6a397c037ff41",
        "name": "Get sleep_minuntes",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "sleep_minutes",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 340,
        "wires": [
            [
                "b6fbdb6064efa9c1"
            ]
        ]
    },
    {
        "id": "73e3ea67164662ca",
        "type": "change",
        "z": "1ef6a397c037ff41",
        "name": "Get nl_fadeout",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "nl_fadeout",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 480,
        "wires": [
            [
                "070c41b37d0cd57c"
            ]
        ]
    },
    {
        "id": "5e8fa079e3ea1996",
        "type": "change",
        "z": "1ef6a397c037ff41",
        "name": "Get wu_fadein",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "wu_fadein",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 540,
        "wires": [
            [
                "0e8150641fc48f02"
            ]
        ]
    },
    {
        "id": "6ae2664b8ae145d6",
        "type": "change",
        "z": "1ef6a397c037ff41",
        "name": "Set nl_fadeout",
        "rules": [
            {
                "t": "set",
                "p": "nl_fadeout",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "cf873a5906edc227",
        "type": "change",
        "z": "1ef6a397c037ff41",
        "name": "Set wu_fadein",
        "rules": [
            {
                "t": "set",
                "p": "wu_fadein",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "83fc6d6d55d3a7b4",
        "type": "inject",
        "z": "1ef6a397c037ff41",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 320,
        "wires": [
            [
                "fd317cf2550f4b3f"
            ]
        ]
    },
    {
        "id": "fd317cf2550f4b3f",
        "type": "function",
        "z": "1ef6a397c037ff41",
        "name": "Set Short Fade-out/in",
        "func": "// For easier debugging\nnode.log(\"Changing fade-out/in to 3 minutes\");\n\nflow.set(\"nl_fadeout\", 3);\nflow.set(\"wu_fadein\", 3);\n    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "ce22fa1ecd1e9574",
        "type": "subflow:650a8f6f7f65f9de",
        "z": "1ef6a397c037ff41",
        "name": "",
        "env": [],
        "x": 1300,
        "y": 700,
        "wires": []
    },
    {
        "id": "6b05f551c7c9ac4b",
        "type": "trigger",
        "z": "1ef6a397c037ff41",
        "name": "",
        "op1": "100",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "0",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "0",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1060,
        "y": 700,
        "wires": [
            [
                "ce22fa1ecd1e9574"
            ]
        ]
    },
    {
        "id": "8d60236f30fc9a4c",
        "type": "function",
        "z": "1ef6a397c037ff41",
        "name": "Enable/Disable Start/Stop",
        "func": "msg.payload = \"Start\";\n\n// Enable the Start button only if a wake time has been set\nlet wakeOffsetMs = flow.get(\"wakeOffsetMs\");\nmsg.enabled = (wakeOffsetMs && (wakeOffsetMs != 0));\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 1080,
        "wires": [
            [
                "fb730672fa535043"
            ]
        ]
    },
    {
        "id": "024a8df67441abe8",
        "type": "link out",
        "z": "1ef6a397c037ff41",
        "name": "",
        "links": [
            "4fe3d51140cc8cfa"
        ],
        "x": 1255,
        "y": 420,
        "wires": []
    },
    {
        "id": "4fe3d51140cc8cfa",
        "type": "link in",
        "z": "1ef6a397c037ff41",
        "name": "",
        "links": [
            "024a8df67441abe8",
            "0e474670d2be2268"
        ],
        "x": 75,
        "y": 1080,
        "wires": [
            [
                "8d60236f30fc9a4c"
            ]
        ]
    },
    {
        "id": "5e210ed8912afd60",
        "type": "comment",
        "z": "1ef6a397c037ff41",
        "name": "Main Application Tick & Logic",
        "info": "",
        "x": 180,
        "y": 940,
        "wires": []
    },
    {
        "id": "4b5971bcf78dab1d",
        "type": "function",
        "z": "1ef6a397c037ff41",
        "name": "setSystemState",
        "func": "\nlet status = flow.get('status');\nnode.log(`status ${status}`);\n\n// Disable the Start button if the wake time is not set\nlet wakeOffsetMs = flow.get(\"wakeOffsetMs\");\nif (!wakeOffsetMs || wakeOffsetMs == 0) {\n    msg.enabled = false;\n}\n\nif (status == \"stopped\") {\n    // Enable the REST Node's behavior\n    flow.set('status', \"starting\");\n    msg.payload = \"Stop\";\n} else {\n    // Disable the REST Node's behavior\n    flow.set('status', \"stopped\");\n    msg.payload = \"Start\";\n}\n\nreturn msg;\n\n/*\n\nif (!flow.get('settings').start_now) {\n    \n    switch (status) {\n        case 'running':\n        case 'waiting':\n            msg.payload = 'Start'; // Set new label\n            flow.set('status', 'stopped');\n            flow.set(\"pwm_wu\", 0);\n            flow.set(\"pwm_nl\", 0);\n            node.status({fill:\"red\",shape:\"dot\",text:\"stopped\"});\n            break;\n        \n        case 'stopped':\n        default:\n            msg.payload = 'Stop'; // Set new label\n            flow.set('status', 'waiting');\n            flow.set(\"pwm_wu\", 0);\n            flow.set(\"pwm_nl\", 0);\n            flow.set('wu_status', '');\n            //flow.set('initial_condition', {'nl':flow.get('nl_fadeout'), 'wu':flow.get('wu_fadein')});\n            node.status({fill:\"yellow\",shape:\"dot\",text:\"waiting\"});\n            break;\n    }\n}\n*/\n/*\nelse {\n    if (flow.get('status') === 'running') {\n        // STOP PROGRAM\n        msg.payload = 'Start'; // Set new label\n        flow.set('status', 'stopped');\n        flow.set(\"pwm_wu\", 0);\n        flow.set(\"pwm_nl\", 0);\n        node.status({fill:\"red\",shape:\"dot\",text:\"stopped\"});\n        \n    } else {\n        // START PROGRAM\n        msg.payload = 'Stop';\n        \n        // User clicked \"Start\" with the \"Start Now\" option selected\n        if (flow.get('settings').start_now) {\n            // So set the bedtime to the current time\n            let now = new Date();\n            let msSinceMidnight = now.getTime() - now.setHours(0,0,0,0);\n            flow.set(\"bedOffsetMs\", msSinceMidnight)\n        }\n        \n        flow.set(\"pwm_wu\", 0);\n        flow.set(\"pwm_nl\", 0);\n        //flow.set('initial_condition', {'nl':flow.get('nl_fadeout'), 'wu':flow.get('wu_fadein')});\n        flow.set('status', 'running');\n        flow.set('wu_status', '');\n        node.status({fill:\"green\",shape:\"dot\",text:\"running\"});\n    }\n}\n*/\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nflow.set('status', 'stopped');",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 1080,
        "wires": [
            [
                "fb730672fa535043",
                "ca38fd58a14bb803"
            ]
        ]
    },
    {
        "id": "6e36ebd0c5fc0d08",
        "type": "function",
        "z": "1ef6a397c037ff41",
        "name": "Stop msg when Disabled",
        "func": "if (msg.enabled == false)\n    return; // Consume msg\nelse\n    return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 420,
        "wires": [
            [
                "31d6a19c8d7c4470"
            ]
        ]
    },
    {
        "id": "cf3e582ab3de4ad4",
        "type": "ui_dropdown",
        "z": "1ef6a397c037ff41",
        "name": "background_noise",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "a81e9f61.3e719",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "background_noise",
        "topicType": "str",
        "x": 550,
        "y": 1320,
        "wires": [
            [
                "4691212c7721451d",
                "e30a801aa243f8d0"
            ]
        ]
    },
    {
        "id": "761aae3db61ccf7a",
        "type": "ui_dropdown",
        "z": "1ef6a397c037ff41",
        "name": "awakening_sound",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "a81e9f61.3e719",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "awakening_sound",
        "topicType": "str",
        "x": 550,
        "y": 1380,
        "wires": [
            [
                "4691212c7721451d"
            ]
        ]
    },
    {
        "id": "06937e969d611285",
        "type": "status",
        "z": "1ef6a397c037ff41",
        "name": "setSystemState",
        "scope": [
            "ea42445f.53f978"
        ],
        "x": 380,
        "y": 1720,
        "wires": [
            [
                "916b998df22073a4"
            ]
        ]
    },
    {
        "id": "916b998df22073a4",
        "type": "function",
        "z": "1ef6a397c037ff41",
        "name": "Stop Audio",
        "func": "node.log(`msg.status ${JSON.stringify(msg.status)}`);\n\nif (msg.status.text == 'stopped') {\n    msg.payload = 'stop';\n    return msg;\n}\n\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 1720,
        "wires": [
            [
                "7a8ade61c005cf58"
            ]
        ]
    },
    {
        "id": "16472ad8d3aeb9e1",
        "type": "inject",
        "z": "1ef6a397c037ff41",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "noSound",
        "payloadType": "str",
        "x": 160,
        "y": 1400,
        "wires": [
            []
        ]
    },
    {
        "id": "4691212c7721451d",
        "type": "function",
        "z": "1ef6a397c037ff41",
        "name": "setSettings",
        "func": "var settings = flow.get('settings');\nswitch (msg.topic) {\n    \n    // These topics don't need any modification before saving\n    case 'awakening_volume':\n    case 'background_volume':\n    case 'relax_volume':\n        settings[msg.topic] = msg.payload;\n        break;\n        \n    default:\n        // User selected a sound file, so the path is important\n        //let folder = flow.get('audioDir') + msg.topic + '/';\n        //settings[msg.topic] = folder + msg.payload;\n        settings[msg.topic] = msg.payload;\n}\nnode.log(`${msg.topic} = ${settings[msg.topic]}`);\nflow.set('settings', settings);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 1360,
        "wires": [
            []
        ]
    },
    {
        "id": "b15101d07ebe364b",
        "type": "comment",
        "z": "1ef6a397c037ff41",
        "name": "AudioSequenceControl",
        "info": "Remember to install \"mplayer\" or any other player listed [here](https://www.npmjs.com/package/play-sound). ",
        "x": 180,
        "y": 1660,
        "wires": []
    },
    {
        "id": "52fc5c86793aa14e",
        "type": "comment",
        "z": "1ef6a397c037ff41",
        "name": "AudioTracksSelection",
        "info": "To add an audio track:\n1 - Add the track to the corresponding folder in ~/.node-red/yogapod_audio/.\n2 - Copy the the full filepath.\n3 - Add a new option in the corresponding dropdown node. Paste the full filename as the \"value\" for the option.\n",
        "x": 180,
        "y": 1260,
        "wires": []
    },
    {
        "id": "90255c066cdb67ec",
        "type": "ui_text",
        "z": "1ef6a397c037ff41",
        "group": "a81e9f61.3e719",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Awakening Sound",
        "format": "",
        "layout": "row-left",
        "x": 1110,
        "y": 1340,
        "wires": []
    },
    {
        "id": "7a8ade61c005cf58",
        "type": "exec",
        "z": "1ef6a397c037ff41",
        "command": "killall omxplayer.bin",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "kill omxplayer",
        "x": 1040,
        "y": 1740,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "7188f5c2898a8174",
        "type": "function",
        "z": "1ef6a397c037ff41",
        "name": "Play Awakening",
        "func": "// Get the current time, in milliseconds since midnight\nlet now = new Date();\nnow = now.getTime() - now.setHours(0,0,0,0);\n\nlet wakeOffsetMs = flow.get('wakeOffsetMs');\n\nlet isVolumeTest = (msg.payload == \"test\");\n\n// Don't do anything if the Node isn't running OR No sound has been selected by the user\n// AND this is NOT a test of the volume\nif (((flow.get(\"status\") != 'started') || \n    (flow.get(\"settings\").awakening_sound === \"noSound\")) &&\n    (msg.payload != \"test\"))\n    return;\n\n// Only start playing the awakening sound if the current\n// time is within +/- 1 seconds of the wake time\n// so that the sound is only triggered once\nif ((Math.abs(wakeOffsetMs - now) < 500) || (msg.payload == \"test\")) {\n    \n    let volume = flow.get(\"settings\").awakening_volume;\n    let soundFile = flow.get(\"audioDir\") + \n                    \"awakening_sound/\" + \n                    flow.get(\"settings\").awakening_sound;\n    \n    node.log(`Playing ${soundFile}`);\n    \n    // Assamble the msg to send to the audio player\n    msg.options = (10 - volume) * -450; // Set volume, the only option\n    msg.options = msg.options + \" \" + soundFile;\n    msg.payload = \"start\";\n    node.log(\"ARGS \" + msg.options);\n    \n    if (isVolumeTest) {\n        // This is just a volume test\n        return [ msg, msg ];\n    } else {\n        // Play the full sound (i.e. not a volume test)\n        return [ msg, null ];\n    }\n}\n// Otherwise, consume the message\nreturn;",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 1900,
        "wires": [
            [
                "2b7a3f5122fd41fd",
                "5c8545be6c61fd8a"
            ],
            [
                "0be6dd486395389c"
            ]
        ]
    },
    {
        "id": "59f4c7a8fedf01bf",
        "type": "function",
        "z": "1ef6a397c037ff41",
        "name": "Play Background",
        "func": "// Get the current time, in milliseconds since midnight\nlet now = new Date();\nnow = now.getTime() - now.setHours(0,0,0,0);\n\nlet bedTimeOffsetMs = flow.get(\"bedOffsetMs\");\nlet backgroundNoiseStartOffsetMs = flow.get('backgroundNoiseStartOffsetMs');\nlet relaxationTechniqueStartOffsetMs = flow.get(\"relaxationTechniqueStartOffsetMs\");\n\nlet isVolumeTest = (msg.payload == \"test\");\nlet shouldRestartAfterRelaxFinished = (msg.payload == \"restart\");\nlet isFirstTickAfterStarting = flow.get(\"isFirstTickAfterStarting\");\n\n// Don't do anything if the Node isn't running OR No sound has been selected by the user\n// AND this is NOT a test of the volume\nif (((flow.get(\"status\") != 'started') || \n    (flow.get(\"settings\").background_noise === \"noSound\")) &&\n    (msg.payload != \"test\"))\n    return;\n\n// Only start playing the background sound if the current\n// time is within +/- 1 seconds of the wake time\n// so that the sound is only triggered once\n// OR\n// This is the first tick after the NODE's been started AND the current\n// time is already past the time at which the background noise should have started\n// OR\n// This is only a volume test\n// OR\n// The relaxation technique just finished playing and the background noise should be restarted\nif ((Math.abs(now - backgroundNoiseStartOffsetMs) < 500) || \n    (isFirstTickAfterStarting && (now > backgroundNoiseStartOffsetMs) && (((now < relaxationTechniqueStartOffsetMs || (flow.get(\"settings\").relax_technique === \"noSound\"))) || (now > bedTimeOffsetMs))) || \n    (msg.payload == \"test\") || \n    ((now > backgroundNoiseStartOffsetMs) && shouldRestartAfterRelaxFinished)) {\n    \n    let volume = flow.get(\"settings\").background_volume;\n    let soundFile = flow.get(\"audioDir\") + \n                    \"background_noise/\" + \n                    flow.get(\"settings\").background_noise;\n    \n    node.log(`Playing ${soundFile}`);\n    \n    // Assamble the msg to send to the audio player\n    msg.options = (10 - volume) * -450; // Set volume, the only option\n    msg.options = msg.options + \" \" + soundFile;\n    msg.payload = \"start\";\n    node.log(\"ARGS \" + msg.options);\n    \n    if (isVolumeTest) {\n        // This is just a volume test\n        return [ msg, msg ];\n    } else {\n        // Play the full sound (i.e. not a volume test)\n        return [ msg, null ];\n    }\n}\n// Otherwise, consume the message\nreturn;",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 1860,
        "wires": [
            [
                "364c684d72d4e01c"
            ],
            [
                "0be6dd486395389c"
            ]
        ]
    },
    {
        "id": "ed5c106a2ffb5736",
        "type": "status",
        "z": "1ef6a397c037ff41",
        "name": "from setInitialValues",
        "scope": [
            "96e6514112588ba6"
        ],
        "x": 130,
        "y": 1360,
        "wires": [
            [
                "16834e68aaf024cf",
                "9df96ef78b6d724b",
                "4e4a978a53331644",
                "88cf7e56a6794beb"
            ]
        ]
    },
    {
        "id": "364c684d72d4e01c",
        "type": "exec",
        "z": "1ef6a397c037ff41",
        "command": "/home/pi/yogasleepnode-master/scripts/play-sound.sh",
        "addpay": "options",
        "append": "",
        "useSpawn": "false",
        "timer": "3000",
        "winHide": false,
        "oldrc": false,
        "name": "run omxplayer",
        "x": 960,
        "y": 1880,
        "wires": [
            [
                "85d8634aea8989e0"
            ],
            [],
            []
        ]
    },
    {
        "id": "85d8634aea8989e0",
        "type": "debug",
        "z": "1ef6a397c037ff41",
        "name": "1 omxplayer rc",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 1860,
        "wires": []
    },
    {
        "id": "cd8d6aeb97ba10e0",
        "type": "inject",
        "z": "1ef6a397c037ff41",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "Clock",
        "payloadType": "date",
        "x": 150,
        "y": 1900,
        "wires": [
            [
                "59f4c7a8fedf01bf",
                "7188f5c2898a8174",
                "98ff3c144acf0d2e"
            ]
        ]
    },
    {
        "id": "b668462f89b06f67",
        "type": "inject",
        "z": "1ef6a397c037ff41",
        "name": "stap!",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "test",
        "payloadType": "str",
        "x": 730,
        "y": 1680,
        "wires": [
            [
                "7a8ade61c005cf58"
            ]
        ]
    },
    {
        "id": "16834e68aaf024cf",
        "type": "change",
        "z": "1ef6a397c037ff41",
        "name": "Get Backgrd volume",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "settings.background_volume",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 1520,
        "wires": [
            [
                "d0562d31f012dd9e"
            ]
        ]
    },
    {
        "id": "9df96ef78b6d724b",
        "type": "function",
        "z": "1ef6a397c037ff41",
        "name": "Pre-populate",
        "func": "let settings = flow.get(\"settings\");\n\n// Build background_noise message first\nlet settingsParts = settings.background_noise.split(\"/\");\nlet backgroundMsg = {payload: settingsParts[settingsParts.length - 1]};\n\n// Set the options for the \"Background Noise\" drop-down\nbackgroundMsg.options = \n[\n    { \"No Sound\":\"noSound\" },\n    { \"Convergence By S.Duncan\" : \"convergence-by-s.duncan-12-hours.mp3\" },\n    { \"Deep Serenity By S.Duncan\" : \"deep-serenity-by-s.duncan-12-hours.mp3\" },\n    { \"Nocturnal Crossings By S.Duncan\" : \"nocturnal-crossings-by-s.duncan-12-hour.mp3\" },\n    { \"Ocean Waves Big\" : \"ocean-waves-big-12-hours.mp3\" },\n    { \"Ponderings By S.Duncan\" : \"ponderings-by-s.duncan-12-hours.mp3\" },\n    { \"Heavy Rain\" : \"rain-heavy-12-hours.mp3\" },\n    { \"Light Rain\" : \"rain-light-12-hours.mp3\" },\n    { \"Refresh By S.Duncan\" : \"refresh-by-s.duncan-12-hours.mp3\" },\n    { \"Train Tracks\" : \"train-tracks-12-hours.mp3\" },\n    { \"Tranquil Calm\" : \"tranquil-calm-12-hours.mp3\" },\n    { \"White Noise\" : \"white-noise-12-hours.mp3\" },\n];\n// Set the default option\n//backgroundMsg.payload = \"noSound\";\n\n// Build awakening_sound message\nsettingsParts = settings.awakening_sound.split(\"/\");\nlet awakeningMsg = {payload: settingsParts[settingsParts.length - 1]};\n\n// Set the options for the \"Awakening Sound\" drop-down\nawakeningMsg.options = \n[\n    { \"No Sound\":\"noSound\" },\n    { \"Birds Chirping\" : \"birds-chirping-15-min.mp3\" },\n    { \"Deep Waking Meditation\" : \"deep-waking-meditation-24-min.mp3\" },\n    { \"Monk Om\" : \"monk-om-16-min.mp3\" },\n    { \"Morning Flute\" : \"morning-flute-17-min.mp3\" },\n    { \"Spiritual Awakening\" : \"spiritual-awakening-13-min.mp3\" },\n    { \"Stream Birds\" : \"stream-birds-15-minutes.mp3\" },\n];\n//awakeningMsg.payload = \"noSound\";\n\n// Build relax_technique message\nsettingsParts = settings.relax_technique.split(\"/\");\nlet relaxMsg = {payload: settingsParts[settingsParts.length - 1]};\n\n// Set the options for the \"Relaxation Technique\" drop-down\nrelaxMsg.options = \n[\n    { \"No Sound\":\"noSound\" },\n    { \"Week 2 Breath with Sound\" : \"week-2-breath-with-sound.m4a\" },\n    { \"Week 3 Box Breathing\" : \"week-3-box-breathing.m4a\" },\n    { \"Week 4 Alternate Nostril Breathing\" : \"week-4-alternate-nostril-breathing.m4a\" },\n    { \"Week 5 Ferris Wheel Breath\" : \"week-5-ferris-wheel-breath.m4a\" },\n    { \"Week 6 iRest (26 min)\" : \"week-6-irest-26-min.mp3\" },\n];\n//relaxMsg.payload = \"noSound\";\n\nreturn [ backgroundMsg, awakeningMsg, relaxMsg ];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 1360,
        "wires": [
            [
                "cf3e582ab3de4ad4"
            ],
            [
                "761aae3db61ccf7a"
            ],
            [
                "3b0fee619399e4c5"
            ]
        ],
        "outputLabels": [
            "background_noise",
            "awakening_sound",
            ""
        ]
    },
    {
        "id": "4e4a978a53331644",
        "type": "change",
        "z": "1ef6a397c037ff41",
        "name": "Get Awake volume",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "settings.awakening_volume",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 1560,
        "wires": [
            [
                "c58291dba1908a5e"
            ]
        ]
    },
    {
        "id": "3b0fee619399e4c5",
        "type": "ui_dropdown",
        "z": "1ef6a397c037ff41",
        "name": "relax_technique",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "a81e9f61.3e719",
        "order": 20,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "relax_technique",
        "topicType": "str",
        "x": 540,
        "y": 1440,
        "wires": [
            [
                "4691212c7721451d"
            ]
        ]
    },
    {
        "id": "88cf7e56a6794beb",
        "type": "change",
        "z": "1ef6a397c037ff41",
        "name": "Get Relax volume",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "settings.relax_volume",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 1600,
        "wires": [
            [
                "c18705fddbfd0d2d"
            ]
        ]
    },
    {
        "id": "d88b7907febbbffd",
        "type": "ui_text",
        "z": "1ef6a397c037ff41",
        "group": "a81e9f61.3e719",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Background Noise",
        "format": "",
        "layout": "row-left",
        "x": 1110,
        "y": 1300,
        "wires": []
    },
    {
        "id": "502583070a9a7908",
        "type": "ui_text",
        "z": "1ef6a397c037ff41",
        "group": "a81e9f61.3e719",
        "order": 18,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Relaxation Technique",
        "format": "",
        "layout": "row-left",
        "x": 1120,
        "y": 1380,
        "wires": []
    },
    {
        "id": "5299c6790c2db46b",
        "type": "ui_button",
        "z": "1ef6a397c037ff41",
        "name": "",
        "group": "a81e9f61.3e719",
        "order": 16,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "Test Awakening Sound Volume",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "test",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 1860,
        "wires": [
            [
                "7188f5c2898a8174"
            ]
        ]
    },
    {
        "id": "973525263a9b4187",
        "type": "ui_button",
        "z": "1ef6a397c037ff41",
        "name": "",
        "group": "a81e9f61.3e719",
        "order": 8,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "Test Background Noise Volume",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "test",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 1820,
        "wires": [
            [
                "59f4c7a8fedf01bf"
            ]
        ]
    },
    {
        "id": "0be6dd486395389c",
        "type": "delay",
        "z": "1ef6a397c037ff41",
        "name": "Delay for Volume Test",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 820,
        "y": 1780,
        "wires": [
            [
                "7a8ade61c005cf58"
            ]
        ]
    },
    {
        "id": "d0562d31f012dd9e",
        "type": "ui_dropdown",
        "z": "1ef6a397c037ff41",
        "name": "background_volume",
        "label": "Volume",
        "tooltip": "Relative volume of background noise playback",
        "place": "Medium",
        "group": "a81e9f61.3e719",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "High",
                "value": 10,
                "type": "num"
            },
            {
                "label": "Medium",
                "value": 6,
                "type": "num"
            },
            {
                "label": "Low",
                "value": 2,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "background_volume",
        "topicType": "str",
        "x": 600,
        "y": 1520,
        "wires": [
            [
                "4691212c7721451d",
                "e30a801aa243f8d0"
            ]
        ]
    },
    {
        "id": "c58291dba1908a5e",
        "type": "ui_dropdown",
        "z": "1ef6a397c037ff41",
        "name": "awakening_volume",
        "label": "Volume",
        "tooltip": "Relative volume of awakening sound volume",
        "place": "Medium",
        "group": "a81e9f61.3e719",
        "order": 14,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "High",
                "value": 10,
                "type": "num"
            },
            {
                "label": "Medium",
                "value": 5,
                "type": "num"
            },
            {
                "label": "Low",
                "value": 1,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "awakening_volume",
        "topicType": "str",
        "x": 590,
        "y": 1560,
        "wires": [
            [
                "4691212c7721451d"
            ]
        ]
    },
    {
        "id": "b5a3b18af98b0f2a",
        "type": "ui_text",
        "z": "1ef6a397c037ff41",
        "d": true,
        "group": "9129e728.6627d8",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "System Time",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 530,
        "y": 2060,
        "wires": []
    },
    {
        "id": "8233be8e22ad95e5",
        "type": "function",
        "z": "1ef6a397c037ff41",
        "name": "Get Current Time",
        "func": "// Get the current system time and display it for the user\n// (in case the time is off and the user needs to correct it)\n\nlet msgTimeOnly = msg;\nlet msgDateAndTime = msg;\nlet now = new Date();\n\nmsgDateAndTime.payload = now.toLocaleTimeString('en-US');\nnow.setSeconds(0);\nmsgTimeOnly.payload = now.toTimeString();\n\nreturn [msgDateAndTime, msgTimeOnly];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 2100,
        "wires": [
            [
                "b5a3b18af98b0f2a"
            ],
            [
                "15f1f191d714513a"
            ]
        ]
    },
    {
        "id": "5ac6e2ece189515f",
        "type": "exec",
        "z": "1ef6a397c037ff41",
        "command": "sudo /home/pi/yogasleepnode-master/scripts/set-time.sh",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Set Date/Time",
        "x": 1000,
        "y": 2100,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "cdc03f585201017f",
        "type": "comment",
        "z": "1ef6a397c037ff41",
        "name": "Setting System Time",
        "info": "",
        "x": 130,
        "y": 2040,
        "wires": []
    },
    {
        "id": "af58ab5d7786b746",
        "type": "ui_text_input",
        "z": "1ef6a397c037ff41",
        "name": "",
        "label": "Current Time",
        "tooltip": "Displays the current time. Edit then press enter to correct the time.",
        "group": "9129e728.6627d8",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "time",
        "delay": "0",
        "topic": "",
        "topicType": "str",
        "x": 650,
        "y": 2100,
        "wires": [
            [
                "ebfa0432c0d16c1d"
            ]
        ]
    },
    {
        "id": "6f8d85040a4848a6",
        "type": "inject",
        "z": "1ef6a397c037ff41",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 2100,
        "wires": [
            [
                "8233be8e22ad95e5"
            ]
        ]
    },
    {
        "id": "ebfa0432c0d16c1d",
        "type": "function",
        "z": "1ef6a397c037ff41",
        "name": "Parse",
        "func": "\nlet hoursSinceMidnight = Math.floor(msg.payload/(3600000 ));\nlet minutesPastTheHour = Math.floor((msg.payload - hoursSinceMidnight * 3600000) / 60000);\nlet secondsPastTheHour = Math.floor((msg.payload / 1000) % 60);\n\nlet now = new Date();\nlet newDateTime = new Date(now.setHours(hoursSinceMidnight,minutesPastTheHour,secondsPastTheHour,0));\n\nmsg.payload = newDateTime.toLocaleDateString() + ' ' + newDateTime.toLocaleTimeString();\nnode.status({text:msg.payload});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 2100,
        "wires": [
            [
                "5ac6e2ece189515f"
            ]
        ]
    },
    {
        "id": "15f1f191d714513a",
        "type": "rbe",
        "z": "1ef6a397c037ff41",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "x": 510,
        "y": 2100,
        "wires": [
            [
                "af58ab5d7786b746"
            ]
        ]
    },
    {
        "id": "c18705fddbfd0d2d",
        "type": "ui_dropdown",
        "z": "1ef6a397c037ff41",
        "name": "relax_volume",
        "label": "Volume",
        "tooltip": "Relative volume of relaxation technique volume",
        "place": "Medium",
        "group": "a81e9f61.3e719",
        "order": 22,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "High",
                "value": 10,
                "type": "num"
            },
            {
                "label": "Medium",
                "value": 8,
                "type": "num"
            },
            {
                "label": "Low",
                "value": 6,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "relax_volume",
        "topicType": "str",
        "x": 570,
        "y": 1600,
        "wires": [
            [
                "4691212c7721451d"
            ]
        ]
    },
    {
        "id": "98ff3c144acf0d2e",
        "type": "function",
        "z": "1ef6a397c037ff41",
        "name": "Play Relax",
        "func": "// Get the current time, in milliseconds since midnight\nlet now = new Date();\nnow = now.getTime() - now.setHours(0,0,0,0);\n\nlet bedTime = flow.get('bedOffsetMs');\nlet relaxationTechniqueStartOffsetMs = flow.get('relaxationTechniqueStartOffsetMs');\n\nlet isVolumeTest = (msg.payload == \"test\");\nlet isFirstTickAfterStarting = flow.get(\"isFirstTickAfterStarting\");\n\n// Don't do anything if the Node isn't running OR No sound has been selected by the user\n// AND this is NOT a test of the volume\nif (((flow.get(\"status\") != 'started') || \n    (flow.get(\"settings\").relax_technique === \"noSound\")) &&\n    (msg.payload != \"test\"))\n    return;\n\n// Only start playing the relaxation technique if the current\n// time is within +/- 1 seconds of the required start time\n// so that the sound is only triggered once\n// OR\n// This is the first tick after the NODE's been started AND the current\n// time is already past the time at which the relaxation technique should have started AND\n// the current time has not yet reached the bed time\n// OR\n// This is only a volume test\nif ((Math.abs(now - relaxationTechniqueStartOffsetMs) < 500) || \n    (isFirstTickAfterStarting && (now > relaxationTechniqueStartOffsetMs) && (now < bedTime)) || \n    (msg.payload == \"test\")) {\n\n    let volume = flow.get(\"settings\").relax_volume;\n    let soundFile = flow.get(\"audioDir\") + \n                    \"relax_technique/\" + \n                    flow.get(\"settings\").relax_technique;\n    \n    node.log(`Playing ${soundFile}`);\n    \n    // Assemble the msg to send to the audio player\n    msg.options = (10 - volume) * -450; // Set volume, the only option\n    msg.options = msg.options + \" \" + soundFile;\n    msg.payload = \"start\";\n    node.log(\"ARGS \" + msg.options);\n    \n    if (isVolumeTest) {\n        // This is just a volume test\n        return [ msg, msg ];\n    } else {\n        // Play the full sound (i.e. not a volume test)\n        return [ msg, null ];\n    }\n}\n// Otherwise, consume the message\nreturn;",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1940,
        "wires": [
            [
                "77fa84e449cd77f4",
                "2b7a3f5122fd41fd"
            ],
            [
                "0be6dd486395389c"
            ]
        ]
    },
    {
        "id": "e30a801aa243f8d0",
        "type": "debug",
        "z": "1ef6a397c037ff41",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 1240,
        "wires": []
    },
    {
        "id": "809b48e855efb057",
        "type": "ui_button",
        "z": "1ef6a397c037ff41",
        "name": "",
        "group": "a81e9f61.3e719",
        "order": 23,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "Test Relax Tech. Sound Volume",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "test",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 1940,
        "wires": [
            [
                "98ff3c144acf0d2e"
            ]
        ]
    },
    {
        "id": "ca38fd58a14bb803",
        "type": "function",
        "z": "1ef6a397c037ff41",
        "name": "Handle Stopping Audio",
        "func": "let status = flow.get('status');\n// Only kill the audio if the NODE is stopped\n// to make sure the clicking \"STOP\" will stop any playing audio\nif (status == \"stopped\") {\n    return msg;\n} else {\n    // Consume the message\n    return;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 1640,
        "wires": [
            [
                "7a8ade61c005cf58"
            ]
        ]
    },
    {
        "id": "f192509777947ba2",
        "type": "exec",
        "z": "1ef6a397c037ff41",
        "command": "/home/pi/yogasleepnode-master/scripts/play-sound.sh",
        "addpay": "options",
        "append": "",
        "useSpawn": "false",
        "timer": "3000",
        "winHide": false,
        "oldrc": false,
        "name": "run omxplayer",
        "x": 920,
        "y": 2000,
        "wires": [
            [
                "a04d626f9099800f"
            ],
            [],
            []
        ]
    },
    {
        "id": "a04d626f9099800f",
        "type": "change",
        "z": "1ef6a397c037ff41",
        "name": "Restart BG Noise",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "restart",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1130,
        "y": 2020,
        "wires": [
            [
                "59f4c7a8fedf01bf"
            ]
        ]
    },
    {
        "id": "2b7a3f5122fd41fd",
        "type": "exec",
        "z": "1ef6a397c037ff41",
        "command": "killall omxplayer.bin",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "kill omxplayer",
        "x": 1140,
        "y": 1940,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "5c8545be6c61fd8a",
        "type": "delay",
        "z": "1ef6a397c037ff41",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 740,
        "y": 1900,
        "wires": [
            [
                "364c684d72d4e01c"
            ]
        ]
    },
    {
        "id": "90cdf1b809cad929",
        "type": "ui_slider",
        "z": "1ef6a397c037ff41",
        "name": "",
        "label": "Wake Up Light Max Brightness",
        "tooltip": "Limits the maxinum brightness of the wake light (from 20% to 100%)",
        "group": "91c4859.9f3e5f8",
        "order": 9,
        "width": "0",
        "height": "0",
        "passthru": true,
        "outs": "end",
        "topic": "pwm_wu_max",
        "topicType": "str",
        "min": "20",
        "max": "100",
        "step": "5",
        "x": 550,
        "y": 860,
        "wires": [
            [
                "f5b7baa356901983"
            ]
        ]
    },
    {
        "id": "f5b7baa356901983",
        "type": "change",
        "z": "1ef6a397c037ff41",
        "name": "Set Max",
        "rules": [
            {
                "t": "set",
                "p": "pwm_wu_max",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "4b073bc2f9881729",
        "type": "change",
        "z": "1ef6a397c037ff41",
        "name": "Get Max",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "pwm_wu_max",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 860,
        "wires": [
            [
                "90cdf1b809cad929"
            ]
        ]
    },
    {
        "id": "77fa84e449cd77f4",
        "type": "delay",
        "z": "1ef6a397c037ff41",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 760,
        "y": 2000,
        "wires": [
            [
                "f192509777947ba2"
            ]
        ]
    },
    {
        "id": "625d0a7174b8014e",
        "type": "inject",
        "z": "e1a40699ea85764e",
        "name": "On Startup",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 110,
        "y": 40,
        "wires": [
            [
                "10a9f715affe67fc"
            ]
        ]
    },
    {
        "id": "10a9f715affe67fc",
        "type": "function",
        "z": "e1a40699ea85764e",
        "name": "Initialize Constants",
        "func": "const light_states = {\n    OFF: 'OFF',\n    FADE_ON: 'FADE_ON',\n    FADE_OFF: 'FADE_OFF',\n    ON: 'ON'\n}\n\nconst night_light_state = light_states.OFF\nconst wake_light_state = light_states.OFF\n\nflow.set('light_states', light_states)\n\nflow.set('night_light_state', night_light_state)\nflow.set('wake_light_state', wake_light_state)",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 40,
        "wires": []
    },
    {
        "id": "bb47ce3118915504",
        "type": "pi-gpiod out",
        "z": "e1a40699ea85764e",
        "name": "Night Light",
        "host": "172.17.0.1",
        "port": 8888,
        "pin": "18",
        "set": false,
        "level": "0",
        "out": "pwm",
        "sermin": "1000",
        "sermax": "2000",
        "freq": "2000",
        "x": 850,
        "y": 340,
        "wires": []
    },
    {
        "id": "f0e97be702be0e23",
        "type": "delay",
        "z": "e1a40699ea85764e",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 550,
        "y": 240,
        "wires": [
            [
                "406cc2bc2f372440",
                "f0c75390fa0772e0"
            ]
        ]
    },
    {
        "id": "406cc2bc2f372440",
        "type": "function",
        "z": "e1a40699ea85764e",
        "name": "Fade Counter",
        "func": "const { FADE_ON, ON } = flow.get('light_states')\nconst night_light_state = flow.get('night_light_state')\n\nif(msg.counter >= 100) {\n    flow.set('night_light_state', ON)\n    \n    return null\n}\n\nif(night_light_state !== FADE_ON)\n    return null\n\nmsg.counter++\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 240,
        "wires": [
            [
                "f0e97be702be0e23"
            ]
        ]
    },
    {
        "id": "91b733e0b0b35e42",
        "type": "function",
        "z": "e1a40699ea85764e",
        "name": "Toggle Fade On",
        "func": "const { FADE_ON } = flow.get('light_states')\n\nflow.set('night_light_state', FADE_ON)\nmsg.counter = 0\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 160,
        "y": 240,
        "wires": [
            [
                "406cc2bc2f372440"
            ]
        ]
    },
    {
        "id": "f0c75390fa0772e0",
        "type": "change",
        "z": "e1a40699ea85764e",
        "name": "Payload to Counter",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "counter",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 300,
        "wires": [
            [
                "9e0d6091e444fd79",
                "bb47ce3118915504"
            ]
        ]
    },
    {
        "id": "e70d1942fa62036c",
        "type": "link in",
        "z": "e1a40699ea85764e",
        "name": "Night Light (Fade On)",
        "links": [
            "b2e7a0407aea6a2a"
        ],
        "x": 35,
        "y": 240,
        "wires": [
            [
                "91b733e0b0b35e42"
            ]
        ]
    },
    {
        "id": "a1917919418e600f",
        "type": "function",
        "z": "e1a40699ea85764e",
        "name": "Toggle Fade Off",
        "func": "const { FADE_OFF } = flow.get('light_states')\n\nflow.set('night_light_state', FADE_OFF)\nmsg.counter = 100\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 160,
        "y": 320,
        "wires": [
            [
                "111b8044a4a2c809"
            ]
        ]
    },
    {
        "id": "111b8044a4a2c809",
        "type": "function",
        "z": "e1a40699ea85764e",
        "name": "Fade Counter",
        "func": "const { FADE_OFF, OFF } = flow.get('light_states')\nconst night_light_state = flow.get('night_light_state')\n\nif(msg.counter <= 0) {\n    flow.set('night_light_state', OFF)\n    \n    return null\n}\n\nif(night_light_state !== FADE_OFF)\n    return null\n\nmsg.counter--\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 320,
        "wires": [
            [
                "4de216b02ff64d27"
            ]
        ]
    },
    {
        "id": "99d636e4c54833d3",
        "type": "link in",
        "z": "e1a40699ea85764e",
        "name": "Night Light (Fade Off)",
        "links": [
            "960cc71d221701e5"
        ],
        "x": 35,
        "y": 320,
        "wires": [
            [
                "a1917919418e600f"
            ]
        ]
    },
    {
        "id": "9e0d6091e444fd79",
        "type": "debug",
        "z": "e1a40699ea85764e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 260,
        "wires": []
    },
    {
        "id": "83e2f5a55a74d18b",
        "type": "function",
        "z": "e1a40699ea85764e",
        "name": "Toggle Off",
        "func": "const { OFF } = flow.get('light_states')\n\nflow.set('night_light_state', OFF)\nmsg.counter = 0\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 400,
        "wires": [
            [
                "aa04e4d2977d7fff"
            ]
        ]
    },
    {
        "id": "7ca518af31291cf3",
        "type": "function",
        "z": "e1a40699ea85764e",
        "name": "Toggle On",
        "func": "const { ON } = flow.get('light_states')\n\nflow.set('night_light_state', ON)\nmsg.counter = 100\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 180,
        "wires": [
            [
                "c9ce0d6ad1cb5c50"
            ]
        ]
    },
    {
        "id": "aa04e4d2977d7fff",
        "type": "delay",
        "z": "e1a40699ea85764e",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 550,
        "y": 400,
        "wires": [
            [
                "f0c75390fa0772e0"
            ]
        ]
    },
    {
        "id": "4de216b02ff64d27",
        "type": "delay",
        "z": "e1a40699ea85764e",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 550,
        "y": 320,
        "wires": [
            [
                "111b8044a4a2c809",
                "f0c75390fa0772e0"
            ]
        ]
    },
    {
        "id": "c9ce0d6ad1cb5c50",
        "type": "delay",
        "z": "e1a40699ea85764e",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 550,
        "y": 180,
        "wires": [
            [
                "f0c75390fa0772e0"
            ]
        ]
    },
    {
        "id": "437ad050babab08f",
        "type": "function",
        "z": "b7f24f4584cfd7ab",
        "name": "Toggle Fade Off",
        "func": "const { FADE_OFF } = flow.get('light_states')\n\nflow.set('night_light_state', FADE_OFF)\nmsg.counter = 100\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 180,
        "wires": [
            [
                "1d2d711a8a0673e0"
            ]
        ]
    },
    {
        "id": "1d2d711a8a0673e0",
        "type": "function",
        "z": "b7f24f4584cfd7ab",
        "name": "Fade Counter",
        "func": "const { FADE_OFF, OFF } = flow.get('light_states')\nconst night_light_state = flow.get('night_light_state')\n\nif(msg.counter <= 0) {\n    flow.set('night_light_state', OFF)\n    \n    return null\n}\n\nif(night_light_state !== FADE_OFF)\n    return null\n\nmsg.counter--\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 180,
        "wires": [
            [
                "3f54b697c73637aa"
            ]
        ]
    },
    {
        "id": "3f54b697c73637aa",
        "type": "delay",
        "z": "b7f24f4584cfd7ab",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 570,
        "y": 180,
        "wires": [
            [
                "1d2d711a8a0673e0"
            ]
        ]
    },
    {
        "id": "103ef86aff47b2d5",
        "type": "websocket in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "server": "18c6c46d15594407",
        "client": "",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "db7057806dca5e74"
            ]
        ]
    },
    {
        "id": "62e6a71c4cb08a51",
        "type": "websocket out",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "server": "18c6c46d15594407",
        "client": "",
        "x": 560,
        "y": 60,
        "wires": []
    },
    {
        "id": "35e4ae63f18d6679",
        "type": "link in",
        "z": "e1a40699ea85764e",
        "name": "Night Light (On)",
        "links": [
            "81c8ed3d1f966e48"
        ],
        "x": 35,
        "y": 180,
        "wires": [
            [
                "7ca518af31291cf3"
            ]
        ]
    },
    {
        "id": "f6a3886c0d4dd377",
        "type": "link in",
        "z": "e1a40699ea85764e",
        "name": "Night Light (Off)",
        "links": [
            "25cd6159ea46fd09"
        ],
        "x": 35,
        "y": 400,
        "wires": [
            [
                "83e2f5a55a74d18b"
            ]
        ]
    },
    {
        "id": "305ca6698a091b49",
        "type": "comment",
        "z": "e1a40699ea85764e",
        "name": "Night Light Controls",
        "info": "",
        "x": 110,
        "y": 120,
        "wires": []
    },
    {
        "id": "cd5025cb87f2fd93",
        "type": "pi-gpiod out",
        "z": "e1a40699ea85764e",
        "name": "Wake Light",
        "host": "172.17.0.1",
        "port": 8888,
        "pin": "22",
        "set": false,
        "level": "0",
        "out": "pwm",
        "sermin": "1000",
        "sermax": "2000",
        "freq": "2000",
        "x": 850,
        "y": 700,
        "wires": []
    },
    {
        "id": "cacafecf86b8fba0",
        "type": "delay",
        "z": "e1a40699ea85764e",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 550,
        "y": 600,
        "wires": [
            [
                "319337eab88adebf",
                "ae492d526f0deacf"
            ]
        ]
    },
    {
        "id": "319337eab88adebf",
        "type": "function",
        "z": "e1a40699ea85764e",
        "name": "Fade Counter",
        "func": "const { FADE_ON, ON } = flow.get('light_states')\nconst wake_light_state = flow.get('wake_light_state')\n\nif(msg.counter >= 100) {\n    flow.set('wake_light_state', ON)\n    \n    return null\n}\n\nif(wake_light_state !== FADE_ON)\n    return null\n\nmsg.counter++\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 600,
        "wires": [
            [
                "cacafecf86b8fba0"
            ]
        ]
    },
    {
        "id": "85e232c32b892bca",
        "type": "function",
        "z": "e1a40699ea85764e",
        "name": "Toggle Fade On",
        "func": "const { FADE_ON } = flow.get('light_states')\n\nflow.set('wake_light_state', FADE_ON)\nmsg.counter = 0\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 160,
        "y": 600,
        "wires": [
            [
                "319337eab88adebf"
            ]
        ]
    },
    {
        "id": "ae492d526f0deacf",
        "type": "change",
        "z": "e1a40699ea85764e",
        "name": "Payload to Counter",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "counter",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 660,
        "wires": [
            [
                "8243cb9e5ec10752",
                "cd5025cb87f2fd93"
            ]
        ]
    },
    {
        "id": "34c409484676e670",
        "type": "link in",
        "z": "e1a40699ea85764e",
        "name": "Wake Light (Fade On)",
        "links": [
            "dfabc3b2d34acdf8"
        ],
        "x": 35,
        "y": 600,
        "wires": [
            [
                "85e232c32b892bca"
            ]
        ]
    },
    {
        "id": "e364e825de7c167d",
        "type": "function",
        "z": "e1a40699ea85764e",
        "name": "Toggle Fade Off",
        "func": "const { FADE_OFF } = flow.get('light_states')\n\nflow.set('wake_light_state', FADE_OFF)\nmsg.counter = 100\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 160,
        "y": 680,
        "wires": [
            [
                "63d221011df05e5f"
            ]
        ]
    },
    {
        "id": "63d221011df05e5f",
        "type": "function",
        "z": "e1a40699ea85764e",
        "name": "Fade Counter",
        "func": "const { FADE_OFF, OFF } = flow.get('light_states')\nconst wake_light_state = flow.get('wake_light_state')\n\nif(msg.counter <= 0) {\n    flow.set('wake_light_state', OFF)\n    \n    return null\n}\n\nif(wake_light_state !== FADE_OFF)\n    return null\n\nmsg.counter--\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 680,
        "wires": [
            [
                "2965fe41e12a2e3a"
            ]
        ]
    },
    {
        "id": "c1f1cb89bba4f0a5",
        "type": "link in",
        "z": "e1a40699ea85764e",
        "name": "Wake Light (Fade Off)",
        "links": [
            "e7a602ec0b3bf95e"
        ],
        "x": 35,
        "y": 680,
        "wires": [
            [
                "e364e825de7c167d"
            ]
        ]
    },
    {
        "id": "8243cb9e5ec10752",
        "type": "debug",
        "z": "e1a40699ea85764e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 620,
        "wires": []
    },
    {
        "id": "eaa31a6ee54bcc7d",
        "type": "function",
        "z": "e1a40699ea85764e",
        "name": "Toggle Off",
        "func": "const { OFF } = flow.get('light_states')\n\nflow.set('wake_light_state', OFF)\nmsg.counter = 0\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 760,
        "wires": [
            [
                "0ee91d3d7d364d17"
            ]
        ]
    },
    {
        "id": "18cbfda8fdc66f4d",
        "type": "function",
        "z": "e1a40699ea85764e",
        "name": "Toggle On",
        "func": "const { ON } = flow.get('light_states')\n\nflow.set('wake_light_state', ON)\nmsg.counter = 100\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 540,
        "wires": [
            [
                "540f68274b47daf0"
            ]
        ]
    },
    {
        "id": "0ee91d3d7d364d17",
        "type": "delay",
        "z": "e1a40699ea85764e",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 550,
        "y": 760,
        "wires": [
            [
                "ae492d526f0deacf"
            ]
        ]
    },
    {
        "id": "2965fe41e12a2e3a",
        "type": "delay",
        "z": "e1a40699ea85764e",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 550,
        "y": 680,
        "wires": [
            [
                "63d221011df05e5f",
                "ae492d526f0deacf"
            ]
        ]
    },
    {
        "id": "540f68274b47daf0",
        "type": "delay",
        "z": "e1a40699ea85764e",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 550,
        "y": 540,
        "wires": [
            [
                "ae492d526f0deacf"
            ]
        ]
    },
    {
        "id": "ce05c629e9a63664",
        "type": "link in",
        "z": "e1a40699ea85764e",
        "name": "Wake Light (On)",
        "links": [
            "ae2fef38b6a7d6e9"
        ],
        "x": 35,
        "y": 540,
        "wires": [
            [
                "18cbfda8fdc66f4d"
            ]
        ]
    },
    {
        "id": "5a3d3bd96cecad9c",
        "type": "link in",
        "z": "e1a40699ea85764e",
        "name": "Wake Light (Off)",
        "links": [
            "4390ac2b0b4bdb4f"
        ],
        "x": 35,
        "y": 760,
        "wires": [
            [
                "eaa31a6ee54bcc7d"
            ]
        ]
    },
    {
        "id": "a72794d36f8241f8",
        "type": "comment",
        "z": "e1a40699ea85764e",
        "name": "Wake Light Controls",
        "info": "",
        "x": 110,
        "y": 480,
        "wires": []
    },
    {
        "id": "ec46da74613d3c1a",
        "type": "inject",
        "z": "e1a40699ea85764e",
        "name": "Wake Light On (Test)",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 860,
        "wires": [
            [
                "ae2fef38b6a7d6e9"
            ]
        ]
    },
    {
        "id": "82a65f82fb6fd2cb",
        "type": "inject",
        "z": "e1a40699ea85764e",
        "name": "Wake Light Fade On (Test)",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 900,
        "wires": [
            [
                "dfabc3b2d34acdf8"
            ]
        ]
    },
    {
        "id": "6129a7161b3e4e55",
        "type": "inject",
        "z": "e1a40699ea85764e",
        "name": "Wake Light Fade Off (Test)",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 940,
        "wires": [
            [
                "e7a602ec0b3bf95e"
            ]
        ]
    },
    {
        "id": "e5bdf64e4184de5e",
        "type": "inject",
        "z": "e1a40699ea85764e",
        "name": "Wake Light Off (Test)",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 980,
        "wires": [
            [
                "4390ac2b0b4bdb4f"
            ]
        ]
    },
    {
        "id": "ae2fef38b6a7d6e9",
        "type": "link out",
        "z": "e1a40699ea85764e",
        "name": "",
        "links": [
            "ce05c629e9a63664"
        ],
        "x": 375,
        "y": 860,
        "wires": []
    },
    {
        "id": "dfabc3b2d34acdf8",
        "type": "link out",
        "z": "e1a40699ea85764e",
        "name": "",
        "links": [
            "34c409484676e670"
        ],
        "x": 375,
        "y": 900,
        "wires": []
    },
    {
        "id": "e7a602ec0b3bf95e",
        "type": "link out",
        "z": "e1a40699ea85764e",
        "name": "",
        "links": [
            "c1f1cb89bba4f0a5"
        ],
        "x": 375,
        "y": 940,
        "wires": []
    },
    {
        "id": "4390ac2b0b4bdb4f",
        "type": "link out",
        "z": "e1a40699ea85764e",
        "name": "",
        "links": [
            "5a3d3bd96cecad9c"
        ],
        "x": 375,
        "y": 980,
        "wires": []
    },
    {
        "id": "17883d101bf8ebaf",
        "type": "inject",
        "z": "e1a40699ea85764e",
        "name": "Night Light On (Test)",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 630,
        "y": 860,
        "wires": [
            [
                "81c8ed3d1f966e48"
            ]
        ]
    },
    {
        "id": "fb20b22a75974421",
        "type": "inject",
        "z": "e1a40699ea85764e",
        "name": "Night Light Fade On (Test)",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 650,
        "y": 900,
        "wires": [
            [
                "b2e7a0407aea6a2a"
            ]
        ]
    },
    {
        "id": "8a0fb21a026fdb4d",
        "type": "inject",
        "z": "e1a40699ea85764e",
        "name": "Night Light Fade Off (Test)",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 650,
        "y": 940,
        "wires": [
            [
                "960cc71d221701e5"
            ]
        ]
    },
    {
        "id": "a34a9d4bf7a9cd14",
        "type": "inject",
        "z": "e1a40699ea85764e",
        "name": "Night Light Off (Test)",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 630,
        "y": 980,
        "wires": [
            [
                "25cd6159ea46fd09"
            ]
        ]
    },
    {
        "id": "81c8ed3d1f966e48",
        "type": "link out",
        "z": "e1a40699ea85764e",
        "name": "",
        "links": [
            "35e4ae63f18d6679"
        ],
        "x": 875,
        "y": 860,
        "wires": []
    },
    {
        "id": "b2e7a0407aea6a2a",
        "type": "link out",
        "z": "e1a40699ea85764e",
        "name": "",
        "links": [
            "e70d1942fa62036c"
        ],
        "x": 875,
        "y": 900,
        "wires": []
    },
    {
        "id": "960cc71d221701e5",
        "type": "link out",
        "z": "e1a40699ea85764e",
        "name": "",
        "links": [
            "99d636e4c54833d3"
        ],
        "x": 875,
        "y": 940,
        "wires": []
    },
    {
        "id": "25cd6159ea46fd09",
        "type": "link out",
        "z": "e1a40699ea85764e",
        "name": "",
        "links": [
            "f6a3886c0d4dd377"
        ],
        "x": 875,
        "y": 980,
        "wires": []
    },
    {
        "id": "9c789c026ddd5adf",
        "type": "pi-gpiod in",
        "z": "4fcd3dd2df70f0c8",
        "name": "",
        "host": "172.17.0.1",
        "port": 8888,
        "pin": "24",
        "intype": "PUD_DOWN",
        "debounce": "25",
        "read": false,
        "x": 210,
        "y": 120,
        "wires": [
            [
                "1590337acdb5b8fc"
            ]
        ]
    },
    {
        "id": "1590337acdb5b8fc",
        "type": "debug",
        "z": "4fcd3dd2df70f0c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 120,
        "wires": []
    },
    {
        "id": "80eb67c307aed82d",
        "type": "link out",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "links": [
            "647a013a3e33688b"
        ],
        "x": 495,
        "y": 120,
        "wires": []
    },
    {
        "id": "647a013a3e33688b",
        "type": "link in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "links": [
            "80eb67c307aed82d"
        ],
        "x": 55,
        "y": 280,
        "wires": [
            [
                "1e74388b5934da98"
            ]
        ]
    },
    {
        "id": "1e74388b5934da98",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "light",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "audio",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "system",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 210,
        "y": 280,
        "wires": [
            [
                "e3eda576d486f91d"
            ],
            [
                "80a2e49cac03acfa"
            ],
            [
                "fd19c57a68bb1b9a"
            ],
            [
                "270a5f0227d80833"
            ]
        ]
    },
    {
        "id": "db7057806dca5e74",
        "type": "json",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 310,
        "y": 60,
        "wires": [
            [
                "62e6a71c4cb08a51",
                "80eb67c307aed82d"
            ]
        ]
    },
    {
        "id": "415057ac6ad5cab1",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 220,
        "wires": []
    },
    {
        "id": "605654e2f63916c5",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 260,
        "wires": []
    },
    {
        "id": "43f0b87cf04ea4de",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 300,
        "wires": []
    },
    {
        "id": "a9377bed695f3949",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 340,
        "wires": []
    },
    {
        "id": "e3eda576d486f91d",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Send to Light Control",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 220,
        "wires": [
            [
                "415057ac6ad5cab1"
            ]
        ]
    },
    {
        "id": "80a2e49cac03acfa",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Send to Audio Control",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 260,
        "wires": [
            [
                "605654e2f63916c5"
            ]
        ]
    },
    {
        "id": "fd19c57a68bb1b9a",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Send to System Control",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 300,
        "wires": [
            [
                "43f0b87cf04ea4de"
            ]
        ]
    },
    {
        "id": "270a5f0227d80833",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Handle Default",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 340,
        "wires": [
            [
                "a9377bed695f3949"
            ]
        ]
    },
    {
        "id": "c93afaa03282fed6",
        "type": "inject",
        "z": "56ae43efe9a5b4d3",
        "name": "On Startup",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 130,
        "y": 40,
        "wires": [
            [
                "b5468e96fe8f2a22"
            ]
        ]
    },
    {
        "id": "b5468e96fe8f2a22",
        "type": "function",
        "z": "56ae43efe9a5b4d3",
        "d": true,
        "name": "Initialize Constants",
        "func": "const light_states = {\n    OFF: 'OFF',\n    FADE_ON: 'FADE_ON',\n    FADE_OFF: 'FADE_OFF',\n    ON: 'ON'\n}\n\nconst night_light_state = light_states.OFF\nconst wake_light_state = light_states.OFF\n\nflow.set('light_states', light_states)\n\nflow.set('night_light_state', night_light_state)\nflow.set('wake_light_state', wake_light_state)",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 40,
        "wires": []
    },
    {
        "id": "652a2cbf9b3a6943",
        "type": "PlaySound",
        "z": "56ae43efe9a5b4d3",
        "name": "Test Audio",
        "playerOptions": "{}",
        "audioURI": "https://filesamples.com/samples/audio/mp3/Symphony%20No.6%20(1st%20movement).mp3",
        "options": "{}",
        "x": 130,
        "y": 220,
        "wires": [
            [
                "940bd6a405b5eac9"
            ]
        ]
    },
    {
        "id": "940bd6a405b5eac9",
        "type": "debug",
        "z": "56ae43efe9a5b4d3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 220,
        "wires": []
    }
]